.App {
  text-align: center;
  max-width: 768px;
  margin: 0 auto;
  padding: 1em;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 2em;
  width: 100%;
  margin: 2em auto;
  justify-content: center;
}

.image-item {
  background: black;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.image {
  width: 100%;
  object-fit: cover;
}

@keyframes color-animation {
  from {
    background-color: #111;
  }
  to {
    background-color: #915;
  }
}

.lazy {
  position: relative;
}

.lazy:after {
  position: absolute;
  background-color: rgb(145, 203, 135);
  animation-name: color-animation;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}
